
@{
    ViewBag.Title = "Política de privacidade";
}

<h2>Política de privacidade</h2>
O Meu MercadoLivre Universal, é um aplicativo de terceiro (não oficial) que permite você acessar seus dados do MercadoLivre sem a necessidade de acessar
                        o website do MercadoLivre.
<br />
<br />
<b>Que informações coletamos</b>
<br />
Todas as informações que coletamos, não ficam armazenadas localmente no dispositivo (com exceção é claro do seu UserId e Token de acesso, necessários para o uso da API) e são disponinibilizadas pelo MercadoLivre através de sua
API após você dar permissão ao aplicativo durante o processo de login. <br/><br/>
Os dados de usuário e senha também não são armazenados pelo aplicativo, já que os mesmos são informados pelo usuário no ambiente do próprio MercadoLivre atráves de sua página web que é exibida dentro do aplicativo.
<br />
<br />
<b>Telemetria</b>
<br />
Algumas informações sobre utilização como, tempo de uso, tela acessadas, ficam armazenado em nossos servidores para fins de telemetria. NENHUMA informação pessoal ou dados financeiros é armazenada.<br/><br/>

<b>Compartilhamento de informações</b><br/>
Nós NÃO COMPARTILHAMOS nenhuma informação com aplicativos ou empresas de terceiro.
